<h1>Editing Hdfs Data Source Connection Parameters Set</h1>

<%= render 'form' %>

<%= link_to 'Show', @hdfs_data_source_connection_parameters_set %> |
<%= link_to 'Back', hdfs_data_source_connection_parameters_sets_path %>
